// Color Palette
$primary-color: #08CB7B;
$secondary-color: #94CB53;
$brand-gray: #EBEBEB;
$brand-blue: #30405F;
$brand-orange: #FF9933;


$brand-black: black;
$brand-white: white;


// Typography
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 14px;